## Copy this file to credentials.properties and populate values
## Don't include quotes around the value

## The API key for the AWS Cloud account where the infrastructure will be provisioned.
TF_VAR_access_key=
TF_VAR_secret_key=
##This token will be used by AWS cloud during ROSA cluster provision
TF_VAR_rosa_token=

